# read from a text file

In [18]:
handle = open('../data_in/io_txt.txt', 'r')
print(handle)
# file object

<_io.TextIOWrapper name='../data_in/io_txt.txt' mode='r' encoding='cp936'>

In [19]:
handle.name

'../data_in/io_txt.txt'

In [20]:
handle.closed

False

In [21]:
handle.readable()

True

In [22]:
count = 0

for row in handle:
    count += 1
    # row.strip()
    print(row)

print(count)

Two roads diverged in a yellow wood,

And sorry I could not travel both

And be one traveler, long I stood

And looked down one as far as I could

To where it bent in the undergrowth;

Then took the other, as just as fair,

And having perhaps the better claim,

Because it was grassy and wanted wear;

Though as for that the passing there

Had worn them really about the same,

And both that morning equally lay

In leaves no step had trodden black.

Oh, I kept the first for another day!

Yet knowing how way leads on to way,

I doubted if I should ever come back.

I shall be telling this with a sigh

Somewhere ages and ages hence:

Two roads diverged in a wood, and I-

I took the one less traveled by,

And that has made all the difference.
20

In [23]:
handle.tell()

745

In [24]:
handle.seek(0)
count = 0

for row in handle:
    count += 1
    row.strip()
    print(row)

print(count)

Two roads diverged in a yellow wood,

And sorry I could not travel both

And be one traveler, long I stood

And looked down one as far as I could

To where it bent in the undergrowth;

Then took the other, as just as fair,

And having perhaps the better claim,

Because it was grassy and wanted wear;

Though as for that the passing there

Had worn them really about the same,

And both that morning equally lay

In leaves no step had trodden black.

Oh, I kept the first for another day!

Yet knowing how way leads on to way,

I doubted if I should ever come back.

I shall be telling this with a sigh

Somewhere ages and ages hence:

Two roads diverged in a wood, and I-

I took the one less traveled by,

And that has made all the difference.
20

In [25]:
# read the entire text as one string

handle.close()

In [26]:
handle2 = open('../data_in/io_txt.txt')

handle2.read(3)

'Two'

In [27]:
handle2.read(3)

' ro'

In [28]:
handle2.read(-9)
# negative number: read the rest of the document

'ads diverged in a yellow wood,\nAnd sorry I could not travel both\nAnd be one traveler, long I stood\nAnd looked down one as far as I could\nTo where it bent in the undergrowth;\nThen took the other, as just as fair,\nAnd having perhaps the better claim,\nBecause it was grassy and wanted wear;\nThough as for that the passing there\nHad worn them really about the same,\nAnd both that morning equally lay\nIn leaves no step had trodden black.\nOh, I kept the first for another day!\nYet knowing how way leads on to way,\nI doubted if I should ever come back.\nI shall be telling this with a sigh\nSomewhere ages and ages hence:\nTwo roads diverged in a wood, and I-\nI took the one less traveled by,\nAnd that has made all the difference.'

In [29]:
handle2.seek(0)
handle2.readline()

'Two roads diverged in a yellow wood,\n'

In [31]:
handle2.readlines()[:5]

[]

# write to a text file

In [33]:
with open('../data_out/hkuba.txt', 'w', newline='') as outhandle:
    line1 = 'HKU Business wa established in 2001.\n'
    outhandle.write(line1)

    line2 = 'She is now home to seven master programs including MSBA\n'
    outhandle.write(line2)

In [ ]:
with open('../data_out/hkuba.txt', 'a', newline='') as outhandle:
    lines = """We have canpuses in
    HK
    SZ
    BJ
    Vietnam
    Israel\n"""

    outhandle.write(lines)

# CSV
# read from a csv file

In [3]:
# csv is a readable text file
# it can be read as strings

with open('../data_in/io_csv.csv', 'r') as inhandle:
    for row in inhandle:
        print(row.strip())

name,age
Peter,22
Jasmine,21
Sam,24
Chao,20

In [11]:
import csv
# to read vsc as a lists of lists

with open('../data_in/io_csv.csv', 'r') as inhandle:
    rd_ = csv.reader(inhandle)
    for row in rd_:
        # print(row[1])
        print(f"{row[0].upper()}'s age is {row[1]}")

NAME's age is age
PETER's age is 22
JASMINE's age is 21
SAM's age is 24
CHAO's age is 20

In [10]:
with open('../data_in/io_csv.csv', 'r') as inhandle:
    rd_ = csv.reader(inhandle)
    print(list(rd_))

[['name', 'age'], ['Peter', '22'], ['Jasmine', '21'], ['Sam', '24'], ['Chao', '20']]

# zip&enmuerate

In [ ]:
# zip: takes a lot of iterables such as lists
# aggregate them and create a zip object
# which can be further converted to a list, tuple, or dict

In [ ]:
[['summer', 32],
['winter', 8],
[],
[]]

In [2]:
seasons = ['summer', 'winter', 'spring', 'fall']
temps = [32, 8, 20, 10]

In [4]:
list(zip(seasons, temps))

[('summer', 32), ('winter', 8), ('spring', 20), ('fall', 10)]

In [5]:
dict(zip(seasons, temps))

{'summer': 32, 'winter': 8, 'spring': 20, 'fall': 10}

In [7]:
# enumerate: to reset the index of a sequence
# and creates an enumerate object
# which can be further converted to a list, tuple, or dict

letters = ['b', 'c', 'd']
list(enumerate(letters, 11))

[(11, 'b'), (12, 'c'), (13, 'd')]

# write to a csv file

In [ ]:
ba 340 0.6
mgm 450 0.7
marketing 320 0.9

In [9]:
programs = ['ba', 'mgm', 'marketing']
size = [340, 450, 320]
ratio = [0.6, 0.7, 0.9]


data = list(zip(programs, size, ratio))
data

[('ba', 340, 0.6), ('mgm', 450, 0.7), ('marketing', 320, 0.9)]

In [12]:
outhandle = open('../data_out/programs.csv', 'w')
wr_ = csv.writer(outhandle)
wr_.writerow(['programs', 'size', 'ratio'])
wr_.writerows(data)

In [13]:
outhandle.close()

In [14]:
with open('../data_out/programs.csv', 'a', newline='') as outhandle:
    wr_ = csv.writer(outhandle)
    wr_.writerow(('mfin', 315, 0.65))

# about encouding

In [ ]:
# utf-8: universal unicode

In [16]:
handle = open('../data_in/encoding_fr.txt', encoding='utf-8')
print(handle.read())

La série d'essais "Quoi de neuf dans Python" reprend les plus importants changements entres les versions majeures de Python. Elles sont à lire pour quiconque souhaitant être à jour suite à une nouvelle sortie.

In [17]:
handle = open('../data_in/encoding_cn.txt', encoding='utf-8')
print(handle.read())

像 Perl 語言一樣, Python 源代碼同樣遵循 GPL(GNU General Public License) 協議

# json
# read from a json file

In [19]:
import json

In [20]:
handle = open('../data_in/io_json.json', 'r', encoding='utf-8')
data = json.load(handle)
handle.close()

In [21]:
type(data)

dict

In [22]:
data

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [23]:
data.keys()

dict_keys(['quiz'])

In [24]:
data['quiz']

{'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
   'options': ['New York Bulls',
    'Los Angeles Kings',
    'Golden State Warriros',
    'Huston Rocket'],
   'answer': 'Huston Rocket'}},
 'maths': {'q1': {'question': '5 + 7 = ?',
   'options': ['10', '11', '12', '13'],
   'answer': '12'},
  'q2': {'question': '12 - 8 = ?',
   'options': ['1', '2', '3', '4'],
   'answer': '4'}}}

In [25]:
data['quiz'].keys()

dict_keys(['sport', 'maths'])

In [26]:
data['quiz']['maths']

{'q1': {'question': '5 + 7 = ?',
  'options': ['10', '11', '12', '13'],
  'answer': '12'},
 'q2': {'question': '12 - 8 = ?',
  'options': ['1', '2', '3', '4'],
  'answer': '4'}}

In [27]:
data['quiz']['maths']['q2']

{'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}

In [28]:
data['quiz']['maths']['q2']['answer']

'4'

In [29]:
# create a json string

j_str = """{
"name":"chao",
"phone":"1234567",
"email":"chao.ding@hku.hk"
}"""

In [30]:
json.loads(j_str)

{'name': 'chao', 'phone': '1234567', 'email': 'chao.ding@hku.hk'}

In [31]:
p_dict = json.loads(j_str)
p_dict

{'name': 'chao', 'phone': '1234567', 'email': 'chao.ding@hku.hk'}

In [32]:
with open('../data_out/name.json', 'w', newline='', encoding="utf-8") as outhandle:
    json.dump(p_dict, outhandle, indent=10)

# Exercise - word frequency

In [37]:
handle = open('../data_in/twister.txt')
words = handle.read().lower().split()
words

['how',
 'much',
 'wood',
 'would',
 'a',
 'woodchuck',
 'chuck',
 'if',
 'a',
 'woodchuck',
 'could',
 'chuck',
 'wood',
 'he',
 'would',
 'chuck',
 'as',
 'much',
 'as',
 'he',
 'could',
 'and',
 'chuck',
 'as',
 'much',
 'wood',
 'as',
 'a',
 'woodchuck',
 'would',
 'if',
 'a',
 'woodchuck',
 'could',
 'chuck',
 'wood']

In [36]:
freq = {}

for word in words:
    freq[word] = freq.get(word, 0) + 1
print(freq)

{'how': 1, 'much': 3, 'wood': 4, 'would': 3, 'a': 4, 'woodchuck': 4, 'chuck': 5, 'if': 2, 'could': 3, 'he': 2, 'as': 4, 'and': 1}

# Exercise – tennis court

In [38]:
import json, csv

In [39]:
handle = open('../data_in/tennis_raw.json', 'r', encoding='utf-8')
content = json.load(handle)
handle.close()

In [40]:
# check the type
type(content)

list

In [41]:
len(content)

55

In [43]:
# observe a few items to design a strategy

content[-1]

{'District_en': 'North',
 'District_cn': '北區',
 'Name_en': 'Wo Hing Sports Centre',
 'Name_cn': '和興體育館',
 'Address_en': 'No.8 Wo Ming Lane, Fanling',
 'Address_cn': '粉嶺和鳴里8號 ',
 'GIHS': '9r9fhG3Vwe',
 'Court_no_en': '1',
 'Court_no_b5': '1',
 'Ancillary_facilities_en': "1 first-aid room<br />Men's and ladies' changing rooms and toilets<br />Fee-charging car park with 16 car parking spaces (including 1 accessible parking space)<br />Barrier Free Facilities: Accessible Toilet, Accessible Lift (with Assistive Listening System), Tactile Guide Path, Visual Fire Alarm System, Braille Directory Map/Floor Plan",
 'Ancillary_facilities_cn': '1個救護室<br />男、女更衣室及洗手間<br />1個可提供16個車位的收費停車場 (設有1個暢通易達停車位)<br />無障礙設施：暢通易達洗手間、暢通易達升降機 (設有廣播裝置)、觸覺引路帶、視像火警警報、觸覺點字及觸覺平面圖',
 'Opening_hours_en': '7am to 11pm daily (except maintenance days)',
 'Opening_hours_cn': '每日上午7時至晚上11時(定期保養日除外)',
 'Phone': '2669 7057',
 'Remarks_en': '',
 'Remarks_b5': '',
 'Longitude': '114-8-35',
 'Latitude': '22-29-5'}

In [56]:
court = content[0]

In [53]:
court.keys()

dict_keys(['District_en', 'District_cn', 'Name_en', 'Name_cn', 'Address_en', 'Address_cn', 'GIHS', 'Court_no_en', 'Court_no_b5', 'Ancillary_facilities_en', 'Ancillary_facilities_cn', 'Opening_hours_en', 'Opening_hours_cn', 'Phone', 'Remarks_en', 'Remarks_b5', 'Longitude', 'Latitude'])

In [57]:
[court['Name_en'],
 court['District_en'],
 court['Court_no_en'],
 court['Phone'].replace(' / ', '/').replace(' ', '-')
 ]

['Ho Man Tin Sports Centre', 'Kowloon City', '2', '2762-7837']

In [69]:
tennis = []

for court in content:
    row = [court['Name_en'],
            court['District_en'],
            court['Court_no_en'],
            court['Phone'].replace(' / ', '/').replace(' ', '-')
            ]
    tennis.append(row)

In [66]:
tennis[7]

['Hin Tin Playground', 'Sha Tin', '4', '2692-0460']

In [68]:
with open('../data_out/tennis_clean.csv', 'w', newline='', encoding='utf-8') as outhandle:
    wr_ = csv. writer(outhandle)
    wr_.writerows(tennis)

In [73]:
court.get('Phonenum', 0)

0

In [ ]:
court[Phone]