In [1]:
import re

In [6]:
findHKU = re.search('HKU', 'HKU Biz')

In [7]:
# findHKU is a match object

findHKU.string

'HKU Biz'

In [8]:
findHKU.span()

(0, 3)

In [9]:
findHKU.start()

0

In [10]:
findHKU.end()

3

In [11]:
if findHKU: print('found')

found

In [12]:
re.findall('H', 'HKU Biz')

['H']

In [13]:
re.findall('o', 'HKU Biz')

[]

In [14]:
re.findall('.', 'HKU Biz')
# .: a wild card
# it matches with any one thing except for a newline

['H', 'K', 'U', ' ', 'B', 'i', 'z']

In [19]:
re.findall('.+', 'HKU Biz')

['HKU Biz']

In [20]:
re.findall('.+?', 'HKU Biz')

['H', 'K', 'U', ' ', 'B', 'i', 'z']

In [21]:
re.findall('.*', 'HKU Biz')

['HKU Biz', '']

In [22]:
re.findall('.*?', 'HKU Biz')

['', 'H', '', 'K', '', 'U', '', ' ', '', 'B', '', 'i', '', 'z', '']

# metacharacters and sets

In [15]:
text2 = """From chao.ding@hku.hk end
From: eri.wonr@hku.hk over
from michael.chau4@hku.hk done
exam@friday"""

text2

'From chao.ding@hku.hk end\nFrom: eri.wonr@hku.hk over\nfrom michael.chau4@hku.hk done\nexam@friday'

In [16]:
re.findall('F', text2)

['F', 'F']

In [17]:
re.findall('^F', text2)

['F']

In [18]:
re.findall('e$', text2)

[]

In [ ]:
re.findall('F', text2)

In [23]:
print(text2)

From chao.ding@hku.hk end
From: eri.wonr@hku.hk over
from michael.chau4@hku.hk done
exam@friday

In [24]:
re.findall('From|from', text2)

['From', 'From', 'from']

In [25]:
re.findall('[fF]rom', text2)

['From', 'From', 'from']

In [26]:
re.findall('[^ ]rom', text2)
# chrome: hrom

['From', 'From', 'from']

In [27]:
print(text2)

From chao.ding@hku.hk end
From: eri.wonr@hku.hk over
from michael.chau4@hku.hk done
exam@friday

In [37]:
pattern = re.compile('[a-z.0-9]+@[a-z.]+[.][a-z]+')

In [38]:
pattern.findall(text2)

['chao.ding@hku.hk', 'eri.wonr@hku.hk', 'michael.chau4@hku.hk']

In [40]:
pattern2 = re.compile('([a-z.0-9]+)@[a-z.]+[.][a-z]+')
pattern2.findall(text2)

['chao.ding', 'eri.wonr', 'michael.chau4']

In [41]:
text3 = 'my favorite 2 numbers are 19 and 42'

In [44]:
re.findall('[0-9]', text3)

['2', '1', '9', '4', '2']

In [45]:
re.findall('[0-9]+', text3)

['2', '19', '42']

In [49]:
re.findall('[0-9][0-9]', text3)

['19', '42']

In [47]:
re.findall('\s([0-9])\s', text3)

['2']

In [48]:
re.findall('[0-9]{2}', text3)

['19', '42']

In [50]:
print(text3)

my favorite 2 numbers are 19 and 42

In [52]:
re.findall('[^0-9]{3,5}', text3)
# this is  greedy matching as well
# both numbers are inclusive
# no space after comma

['my fa', 'vorit', ' numb', 'ers a', 're ', ' and ']

In [53]:
re.findall('[^0-9]{3,}', text3)
# at least 3

['my favorite ', ' numbers are ', ' and ']

In [ ]:
# \b: word boundary
# need to create a r-string as its pattern
# this is a special case

In [54]:
text5 = 'Lis1bon is2 an oasis3'

re.findall('is\d', text5)

['is1', 'is2', 'is3']

In [55]:
re.findall(r'\bis\d', text5)

['is2']

In [56]:
re.findall(r'is\d\b', text5)

['is2', 'is3']

# re.split & re.sub

In [58]:
text6 = 'The University of Hong Kong (HKU)'
text6.split()

['The', 'University', 'of', 'Hong', 'Kong', '(HKU)']

In [59]:
re.split('\W+', text6)

['The', 'University', 'of', 'Hong', 'Kong', 'HKU', '']

In [60]:
print(text6)

The University of Hong Kong (HKU)

In [62]:
re.sub('\s\W.+', '', text6)

'The University of Hong Kong'

In [66]:
text6[:text6.find('(') - 1]

'The University of Hong Kong'

In [65]:
text6.find('(') - 1

27

In [67]:
text6

'The University of Hong Kong (HKU)'

In [68]:
re.sub('\(|\)', '--', text6)

'The University of Hong Kong --HKU--'

In [69]:
re.sub('[()]', '--', text6)

'The University of Hong Kong --HKU--'

# about flag

In [70]:
text6

'The University of Hong Kong (HKU)'

In [72]:
re.findall('[a-z]+',text6, flags=re.I)

['The', 'University', 'of', 'Hong', 'Kong', 'HKU']

In [73]:
re.findall("""[a-z]{2}   # {2} means match 2
           \s[a-z]{4}   # \s means match with a space
           """, text6, flags=re.I | re.X)
# it is non-overlapping matching

['he Univ', 'of Hong']

In [75]:
text7 = """Regex
Flags"""

re.findall('^\w+', text7, flags=re.M),

(['Regex', 'Flags'],)

In [ ]:
# [0-255]: 0, 1, 2, or 5
# [0-9][0-9][0-9].\

# exercise - IP address

In [1]:
import re

In [4]:
sample = 'Received: from murder (mail.umich.edu [141.211.14.90])'

In [10]:
pattern = re.compile("Received.+[[(](\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\]")
pattern.findall(sample)

['141.211.14.90']

In [20]:
# option1: read line by line, search line by line

handle = open('../data_in/mbox_short.txt', 'r', encoding='utf-8')

ips = []

for line in handle.readlines():
    # print(pattern.findall(line))

    line = line.strip()   # string methoods do not change string

    ip = pattern.findall(line)
    if len(ip) > 0:
        # print(ip[0])
        ips.append(ip[0])

In [21]:
len(ips)

189

In [19]:
ips[70:100]

['141.211.14.97',
 '141.211.93.152',
 '194.35.219.184',
 '127.0.0.1',
 '194.35.219.182',
 '134.68.220.122',
 '127.0.0.1',
 '141.211.14.39',
 '141.211.14.79',
 '194.35.219.184',
 '127.0.0.1',
 '194.35.219.182',
 '134.68.220.122',
 '127.0.0.1',
 '141.211.14.90',
 '141.211.93.153',
 '194.35.219.184',
 '127.0.0.1',
 '194.35.219.182',
 '134.68.220.122',
 '127.0.0.1',
 '141.211.14.97',
 '141.211.14.84',
 '194.35.219.184',
 '127.0.0.1',
 '194.35.219.182',
 '134.68.220.122',
 '127.0.0.1',
 '141.211.14.25',
 '141.211.14.79']

In [23]:
# option2: read the entire document and search in it

handle.seek(0)

data = handle.read()
data[:100]

'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008\nReturn-Path: <postmaster@collab.sakaiprojec'

In [25]:
ips2 = pattern.findall(data)

In [26]:
len(ips2)

189

Received:...[199.8.
0.111]

In [ ]:
sample2 = """Received:...[199.8.
0.111]"""

# exercise - username

In [31]:
import re

In [32]:
def vaild_arg(name):
    if type(name) is str: return True
    else: return False

def name_check(name):
    if vaild_arg(name) is False:
        return """WARNNING: Input is invalid"""
    
    pattern = re.compile('^[a-z][a-z0-9-_]{5,17}$')

    if pattern.search(name) is None:
        return False
    return True

In [30]:
vaild_arg(123)

False

In [33]:
name_check('a' * 20)

False

In [34]:
name_check('msba')

False

In [35]:
def vaild_arg(name):
    if type(name) is str: return True
    else: return False

def name_check(name):
    if vaild_arg(name) is False:
        return """WARNNING: Input is invalid"""
    
    pattern = re.compile(r'^[a-z][a-z0-9-_]{5,17}\b')

    if pattern.search(name) is None:
        return False
    return True

In [36]:
name_check('a'*17 + '-')

True

In [ ]:
name_check()